<section class="card">
  <div class="card-body">
    <h1>About Fingerprint check out</h1>
    <p>
      Este proyecto fue desarrollado con el fin de que los alumnos puedan marcar su asistencia de una forma en la que el profesor no pierda tiempo en pasar lista.
    </p>
  </div>
</section>
