<div class="jumbotron mt-4">
  <h1 class="display-4">Fingerprint check out!</h1>
  <p class="lead">Haz click en el boton para poder acceder a la clase</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/alumno/signin" role="button">Comenzar</a>
</div>
