{{#if success_node }}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_node}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#each mensaje_arduino }}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{mensaje_arduino}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
